*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.header{
    width: 1440px;
    margin: 0 auto;
}
.nav{
    width: 1440px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center; 
}
.nav img{
    width: 40px;
    height: 40px;
    margin: 15px 100px;
}
.nav ul{
    display: flex;
    color: white;
    gap: 30px;
    padding: 0 800px;
  
   
}
.nav ul li{
    font-size: 18px;
    font-weight: 500;
}
.h-1{
    text-align: center;
    padding: 184px 348px 114px 348px;
    font-size: 88px;
}
.section{
    width: 1240px;
    height: 852px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 393px;
    height: 396px;
    margin: 0 auto;
}
.section img{
    width: 393px;
    height: 230px;
    border-radius: 20px;

}
.section h2{
    font-size: 28px;
    text-align: center;
    font-weight: 600px;
}
.p-1{
   font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.nav2{
    width: 1440px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center; 
   margin: 0 auto;
}
.nav2 img{
    width: 40px;
    height: 40px;
    margin: 15px 100px;
}
.nav2 ul{
    display: flex;
    color: white;
    gap: 30px;
    padding: 0 800px;
  
   
}
.nav2 ul li{
    font-size: 18px;
    font-weight: 500;
}
   
